@import "../src/common/colors.scss";

.app{
//  background-color: red;\
height: 700px;
overflow-y: scroll;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: $font-primary
}

body {
  background: $primary-color;
  height: 100%;
}
.container {
  margin: 0px 40px;
}